{% set navs = [
  {
    'page': '/',
    'href': 'index.html',
    'linkText': 'Отправить посылку'
  }, {
    'page': '/tracking',
    'href': 'tracking.html',
    'linkText': 'Отследить'
  }, {
    'page': '/tariffs',
    'href': 'tariffs.html',
    'linkText': 'Тарифы'
  }, {
    'page': '/contacts',
    'href': 'contacts.html',
    'linkText': 'Контакты'
  }
] %}
