{% import './data.njk' as data %}

{% macro menu(className, pageName) %}
  <nav class="{{ className }} menu">
    <ul class="menu__list">
      {% for nav in data.navs %}
        <li>
          <a href="{{ nav.href }}" class="menu__link {% if pageName == nav.page %}menu__link--is-current{% endif %}">{{ nav.linkText }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}
