{% set advantages = [
  {
    'img': './assets/img/icon_01.svg',
    'title': 'lorem loremlorem loremlorem loremlorem lorem'
  }, {
    'img': './assets/img/icon_02.svg',
    'title': 'lorem loremlorem loremlorem loremlorem lorem'
  }, {
    'img': './assets/img/icon_03.svg',
    'title': 'lorem loremlorem loremlorem loremlorem lorem'
  }
] %}