.primary-list {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 14px 10px;
  border-radius: 6px;
  background: orangered;
  font-size: 10px;
  line-height: 12px;
  gap: 5px;
  @include media(M) {
    max-width: none;
    padding: 15px 30px;
    font-size: 18px;
    line-height: 28px;
    column-gap: 20px;
  }
  @include media(XL) {
    justify-content: space-between;
    padding: 10px 45px 14px;
    column-gap: 100px;
  }
  .list-item {
    display: flex;
    align-items: center;
    .list-item__img-wrapper {
      max-width: 22px;
      height: 22px;
      margin-right: 5px;
      @include media(M) {
        max-width: 46px;
        height: 46px;
      }
      @include media(XL) {
        max-width: 60px;
        height: 60px;
      }
    }
    h3 {
      font-weight: 400;
      color: #fff;
    }
  }
}
