{% from 'components/menu/menu.njk' import menu %}

<header class="header">
  <div class="header__container container">
    <div class="header__body">
      <a class="header__logo logo">
        <img src="assets/img/logo.svg" class="logo__img" alt="my courier logo" width="92" height="20">
      </a>
      <!-- menu -->
      {{ menu('header__menu', pageName) }}
      <!-- end menu -->
      <button type="button" class="header__burger-button">
        <span class="header__burger-marker"></span>
      </button>
    </div>
  </div>
</header>