.form__text-field {
  position: relative;
  display: inline-block;
  width: 100%;

  input,
  textarea {
    display: inline-block;
    width: 100%;
    border-radius: 29px;
    padding: 5px 10px;
    background-color: darkorange;
    color: blue;
    outline: none;
    &:active,
    &:focus {
      outline: 1px solid darkblue;
    }
    &::placeholder {
      color: gray;
    }
  }
}
